{% extends 'base.html' %}
{% block content %}

</div>
<section>
<form action="https://formspree.io/worldcardiacvision@gmail.com" method="POST">
	{{ csrf_field }}

	<div class="field">
		<label class="label">Full Name</label>
		<div class="control">
		<input class="input" type="text" placeholder="John Smith, MD" name="full_name">
		</div>
	</div>



	<div class="field">
		<label class="label">Email</label>
		<div class="control">
		<input class="input" type="email" name="email" placeholder="name@example.com">
		</div>

	</div>

		<div class="field">
		<label class="label">Profession</label>
		<div class="control">
		<input class="input" type="text" placeholder="Pediatric Cardiologist" name="profession">
		</div>
	</div>

		<div class="field">
		<label class="label">Country</label>
		<div class="control">
		<input class="input" type="text" placeholder="Australia" name="country">
		</div>
	</div>

	<div class="control">
    	<button class="button is-primary">Submit</button>
  	</div>

</form>
</section>
{% endblock %}