{% extends 'base.html' %}
{%block content%}

<section>
	<div class="columns">
		<div class="column">
			<p>We are a non-profit and non-governmental organization working to develop cardiac care professional as well as provide equipment and medical supplies. Join the movement and donate today to save lives and improve cardiac care in the developing counties around the world.</p>
		</div>

		<div class="column">
			<button
				class="snipcart-add-item button is-primary"
				data-item-id="1"
				data-item-name="$20 Donation"
				data-item-price="20.00"
				data-item-url="/donate"
				data-item-description="A donation to World Cardiac Vision for $20">
				$20
			</button>
		</div>
	</div>
</section>
{%endblock%}