{% extends 'base.html' %}
{%block content%}

<section>
	<div class="columns">
		<div class="column">
			<p>We are a non-profit and non-governmental organization working to develop cardiac care professional as well as provide equipment and medical supplies. Join the movement and donate today to save lives and improve cardiac care in the developing counties around the world.</p>
		</div>

		<div class="column is-multiline">
			<a class="donate button is-primary is-medium">
				$15
			</a>
			<a class="donate button is-primary is-medium">
				$25
			</a>
			<a class="donate button is-primary is-medium">
				$50
			</a>
			<a class="donate button is-primary is-medium">
				$100
			</a>
			<a class="donate button is-primary is-medium">
				$250
			</a>
			<a class="donate button is-primary is-medium">
				$500
			</a>
			<a class="donate button is-primary is-medium">
				$1000
			</a>


			</button>
		</div>
	</div>
</section>
{%endblock%}