{% extends 'two-columns.html' %}
{%block content%}
</div>


<section>
	<div class="content">
	<p>According to American Institute of Ultrasound in Medicine (AIUM), congenital heart disease is a leading cause of infant morbidity and mortality from birth defects with an estimated incidence of 6 per 1000 live births for moderate to severe forms.</p>
	<p>Accurate prenatal diagnosis offers potential clinical benefit about infant outcome, especially in those cases that are likely to require prostaglandin infusion to maintain patency of the ductus arteriosus or immediate postnatal intervention. 
Recent studies suggest improved physiological state after birth and improved surgical outcome for infants who have had prenatal diagnosis via fetal echocardiography.</p>
	<p>Fetal echocardiography is a detailed sonographic evaluation that is used to identify and characterize fetal heart anomalies before delivery. 
This specialized diagnostic procedure is an extension of the “basic” and “extended basic” fetal cardiac screening parameters that have been previously described for the 4-chamber view and outflow tracts AIUM.</p>
	<p>Accurate diagnosis of congenital heart disease via fetal echocardiography provides many benefits. It allows for a smooth transition between the pre- and post-natal states, with the opportunity to provide immediate care at birth, thereby avoiding the onset of hemodynamic compromise. In addition, accurate diagnosis via fetal echocardiography allows for appropriate counseling to take place and for parents to take the opportunity to learn about the cardiac anomaly. This knowledge can allay parental fears, improve psychological state, and bolster coping skills in dealing with the birth of a child with life-threatening cardiovascular illness.</p>
	<p>Improved operator skill amongst physicians performing general antepartum obstetrical ultrasound, in combination with increased sensitivity of present-day ultrasound systems, has resulted in improved detection of fetal cardiovascular abnormalities and increased requirements for a more detailed evaluation.
</p>

	

      
</div>
</section>
{%endblock%}