{% extends 'two-columns.html' %}
{%block content%}
</div>
<section>
	<div class="content">
		<img src="{{config('application').url}}/public/images/lily-impact.jpg" class="image" width="600px" height="480px">
<p>Since October 2015, Lily Berhe has been training cardiology fellows in echocardiography in Ethiopia as well as collected and delivered medical books. Lily provides online reading materials and travels to Ethiopia every year for a two-week-long trip to different hospitals to give hands-on echocardiography training to physicians and develop echocardiography protocol, her latest contribution being in January 2019.</p>

	<p>On Thursday, January 24th, Lily traveled to Addis Ababa, Ethiopia to give advance congenital echocardiography training to the Children's Cardiac Center of Ethiopia's Pediatric cardiologists, basic and critical care echocardiography to Black Lion Hospital Emergency Department physicians. During her two-week stay in Addis Abeba, Lily has provided advance pediatric and fetal echocardiography training to four pediatric cardiologists and basic and echocardiography for critical care management to eight emergency department physicians.</p>

<p>To be efficient and accommodate the busy schedule of ED physicians, Lily also extended her training to Saturdays. Since most physicians are off-duty on Saturdays this allows them to participate in the training without interruptions. During this trip, Lily not only provided echocardiography training but also delivered critical need medical books that she collected through a donation from the U.S. In collaboration with Ethiopian Airlines, Heineman Medical Outreach, and Africgo Travel & Cargo, she has delivered over 900lbs in cardiology books to St. Paul’s Millennium Medical College Hospital. Lily has also developed echocardiography protocol, designed a reporting template and consulted the pediatric cardiologists on echo lab standardization.</p>
<img src="uploads/eth_train.jpg">

		<p class="has-text-info">To increase our impact and train more local cardiac care professionals, we have designed a ten-month long online Cardiac Sonography program. Now we have completed the admission process for 6 applicants to start the Echocardiography program. This will improve the efficiency of cardiologists and the quality of cardiac care patients in Ethiopia.<br><br></p>
	<a class="button is-primary is-block" href="{{route('donate')}}">Donate Now</a>
	<br>
	<a class="button is-info is-block" href="{{route('contact')}}">Contact</a>
</div>
</section>
{%endblock%}