{% extends 'two-columns.html' %}
{%block content%}
</div>
<section>
	<div class="content">
		<img src="{{config('application').url}}/public/images/lily-impact.jpg" class="image" width="600px" height="480px">
<p>Since October 2015, Lily Berhe has been training cardiology fellows in echocardiography in Ethiopia as well as collected and delivered medical books. Lily provides online reading materials and travels to Ethiopia every year for a two-week-long trip to different hospitals to give hands-on echocardiography training to physicians and develop echocardiography protocol, her latest contribution being in January 2019.</p>

	<p>On Thursday, January 24th, Lily traveled to Addis Ababa, Ethiopia to give advance congenital echocardiography training to the Children's Cardiac Center of Ethiopia's Pediatric cardiologists, basic and critical care echocardiography to Black Lion Hospital Emergency Department physicians. During her two-week stay in Addis Abeba, Lily has provided advance pediatric and fetal echocardiography training to four pediatric cardiologists and basic and echocardiography for critical care management to eight emergency department physicians.</p>

<p>To be efficient and accommodate the busy schedule of ED physicians, Lily also extended her training to Saturdays. Since most physicians are off-duty on Saturdays this allows them to participate in the training without interruptions. During this trip, Lily not only provided echocardiography training but also delivered critical need medical books that she collected through a donation from the U.S. In collaboration with Ethiopian Airlines, Heineman Medical Outreach, and Africgo Travel & Cargo, she has delivered over 900lbs in cardiology books to St. Paul’s Millennium Medical College Hospital. Lily has also developed echocardiography protocol, designed a reporting template and consulted the pediatric cardiologists on echo lab standardization.</p>
		<h3>Testimonials</h3>
		<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="uploads/dem.jpeg">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        As a second-year Emergency Medicine and Critical Care Resident, I was expected to have the basic skills of Echocardiography to pick life treating medical conditions and to gather valuable information about the status of the heart at the bedside. Which become true with the help of Dr. Yilkal Chane and Lily Berhe helping our team on the basics of Echocardiography training, which was conducted over two weeks at the emergency room of Tikur Anbessa Specialized Hospital. Thanking Both for their contribution, I would like to express my interest in further opportunities for echo training in the future. Thank you very much.
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
			<p>Dr. Demmelash Gezahegn, Emergency Medicine and Critical Care Resident <br> Black Lion Hospital</p>
        </div>
      </div>

    </nav>
  </div>
</article>
		<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="uploads/dem.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        My name is Dr. Merahi Kefyalew. I am a third-year Emergency and critical care resident in Tikur Anbessa hospital which is in Addis Ababa, Ethiopia. I have spent one week with Lily training in echocardiography when she came to Addis Ababa. I was really privileged to have her in our hospital regarding her echo skills. Since then, I can proudly say that I can access all the basic heart views on echo easily, I can estimate ejection fraction; I can identify regurgitant and stenotic lesions. In short, she was quite helpful in bringing our echo skills to the next level. Thanks!
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
			<p>Dr. Merahi Kefyalew, Third year emergency and critical care resident <br> Black Lion Hospital</p>
        </div>
      </div>

    </nav>
  </div>
</article>
		<article class="media">
  <figure class="media-left">
    <p class="image is-128x128">
      <img src="uploads/melaku.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        I am Dr. Melaku Getachew from Addis Ababa University, Ethiopia. I am a senior emergency and critical care medicine resident. I have had the pleasure of knowing Lily for over a year. We first met in our cardiac center while she gave us volunteer training on basic echocardiography training for residents. She is very dedicated and ambitious. I hope she will fulfill our country's gap going into the future.
      </p>
    </div>
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
			<p>Melaku Getachew, MD, Chief academic resident of Emergency and critical care medicine<br> Black Lion Hospital</p>
        </div>
      </div>

    </nav>
  </div>
</article>
		<h3>Gallery</h3>
		<div class="columns is-multiline is-mobile">
			<div class="column">
				<img src="uploads/eth_train.jpg" width="600px" height="480px">
			</div>
			<div class="column"><img src="uploads/team_1.jpg" width="600px" height="480px"></div>
			<div class="column"><img src="uploads/team_2.jpg" width="600px" height="480px"></div>
			<div class="column"><img src="uploads/team_3.jpg" width="600px" height="480px"></div>



		</div>



		<p class="has-text-info">To increase our impact and train more local cardiac care professionals, we have designed a ten-month long online Cardiac Sonography program. Now we have completed the admission process for 6 applicants to start the Echocardiography program. This will improve the efficiency of cardiologists and the quality of cardiac care patients in Ethiopia.<br><br></p>
	<a class="button is-primary is-block" href="{{route('donate')}}">Donate Now</a>
	<br>
	<a class="button is-info is-block" href="{{route('contact')}}">Contact</a>
</div>
</section>
{%endblock%}