{% extends 'two-columns.html' %}
{%block content%}


<section>
	<img src="{{config('application').url}}/public/images/eth_map.svg" class="image" width="480px" height="480px">
	<blockquote class="has-text-danger is-size-4">There are approximately 20 qualified cardiologists for over 100 million people in Ethiopia.</blockquote><br><br>
	<div class="content">


	<p>
		Due to Ethiopia’s tropical nature, Rheumatic Heart Disease remains highly prevalent in the country.  Overall, cardiovascular diseases account for premature death, loss of productive life, individual disability, the burden for the family, and strain on the health care system in Ethiopia.</p>
		<p>Despite the issues of rheumatic heart diseases, congenital cardiac anomalies and the emergence of coronary artery disease, little progress has been made to develop facilities and human resources to provide a reliable cardiac patient treatment so far.
			There is a persistent shortage of cardiologists and cardiac health professionals (less than 20 cardiologists) for a population of over 100 million.</p>
		<p>Recently, some Ethiopian hospitals are tapping their resources to train one or two internists for ten months in India to become cardiologists, in both adult and pediatric fields. However, this arrangement, even though it should be appreciated, is not merely an improvement, considering the number and complexity of cases across the country. These cardiologists are also burdened by performing cardiac ultrasound procedures, which limits the number of cardiac patients they manage per day, reduces the quality of their service, creates a high turnover of cardiologists for the hospitals and prevents them from training other fellows, as well as develop a sustainable cardiac program.</p>

	<p>In partnership with St. Peter’s Hospital, World Cardiac Vision developed a comprehensive online Cardiac Sonography program that will contribute immensely to the advancement of cardiac care services in Ethiopia. This program will produce Echocardiographers (Cardiac Sonographers) who work side by side with the cardiologists to improve efficiency and quality of cardiac care.</p>
      <h2 class="title">
        We need your help!
      </h2>
        <p>Creating high quality health course material takes time and money. We also fly volunteers to countries for offline training.
			Click the button below to make a contribution on our secure payment platform.</p>

      <a class="button is-primary" href="{{route('donate')}}">Donate</a>

</div>
</section>
{%endblock%}