{% extends 'two-columns.html' %}
{%block content%}
</div>
<section>
	<div class="content">
		<img src="{{config('application').url}}/public/images/lily-impact.jpg" class="image" width="600px" height="480px">
<p>Since October 2015, Lily has been training cardiology fellows in echocardiography in Ethiopia as well as collected and delivered medical books.
	Lily provides online reading materials and travels to Ethiopia every year for a two-week long trip to different hospitals to give hands-on echocardiography training to physicians and develop echocardiography protocol.<br><br>
	</p>

	<p>The latest contribution by Lily was In January, 2019. On Friday, Thursday January 24th, Lily traveled to Addis Ababa, Ethiopia to give advance congenital echocardiography training to the Cardiac Center of Ethiopia Pediatric cardiologists, basic and critical care echocardiography to Black Lion Hospital Emergency Department physicians.
		During her two-week stay in Addis Abeba, Lily has provided advance pediatric and fetal echocardiography training to four pediatric cardiologists in the morning and basic and echocardiography for critical care management to eight emergency department physicians in afternoon shifts.</p>

<p>To be efficient and accommodate the busy schedule of ED physicians, Lily offered her training during Saturdays. Since most physicians are off-duty on Saturdays this allow them to participate in the training without interruptions.
	During this trip, Lily not only provided echocardiography training, but also delivered critical need medical books. In collaboration with Ethiopian Airlines, Heineman Medical Outreach and Africgo Travel & Cargo, she has delivered over 900lbs in cardiology books to St. Paul’s Millennium Medical College Hospital.
	Lily has also developed echocardiography protocol, designed reporting template and consulted the pediatric cardiologists on echo lab standardization.</p>
<img src="uploads/eth_train.jpg">

We have now completed with the admission process for 5 applicants to start Echocardiography program, which will improve the efficiency of cardiologists and quality of cardiac care in Ethiopia. Please donate to our cause or volunteer below.<br><br>
	<a class="button is-primary is-block" href="#">Donate Now</a>
	<br>
	<a class="button is-info is-block" href="#">Volunteer</a>
</div>
</section>
{%endblock%}