{% extends 'two-columns.html' %}
{%block content%}


</div>
<section>
	<img src="{{config('application').url}}/public/images/eth_map.svg" class="image" width="480px" height="480px">
	<div class="content">


	<p>
		Due to Ethiopia’s tropical nature, Rheumatic Heart Disease remains highly prevalent in the country.  Overall, cardiovascular diseases account for premature death, loss of productive life, individual disability, the burden for the family, and strain on the health care system in Ethiopia.</p>
		<p>Despite the issues of rheumatic heart diseases, congenital cardiac anomalies and the emergence of coronary artery disease, little progress has been made to develop facilities and human resources to provide a reliable cardiac patient treatment so far.
			There is a persistent shortage of cardiologists and cardiac health professionals (less than 20 cardiologists) for over 100 million of the Ethiopian population. </p>
		<p>Recently, some Ethiopian hospitals are tapping their resources to train one or two internists for ten months in India to become cardiologists, in both adult and pediatric fields. However, this arrangement, even though it should be appreciated, is not merely an improvement, considering the number and complexity of cases across the country. These cardiologists are also burdened by performing cardiac ultrasound procedures, which limits the number of cardiac patients they manage per day, reduces the quality of their service, creates a high turnover of cardiologists for the hospitals and prevents them from training other fellows, as well as develop a sustainable cardiac program.</p>

	<p>Currently, WCV is working to create a comprehensive and sustainable program that improves the cardiac care services in Ethiopia by recruiting volunteer cardiac professionals around the world to train professionals, as well as collecting donations to provide cardiac care equipment and essential supplies. Therefore, WCV urges you to support/contribute to this worthy cause to bring a light of hope for those who are suffering and die from easily treatable cardiac disease.</p>


	<a class="button is-primary is-block" href="#">Donate Now</a>
	<br>
</div>
</section>
{%endblock%}