{% extends 'two-columns.html' %}
{%block content%}
</div>


<section>
	<div class="content">
		<p>
			Welcome to World Cardiac Vision of Cardiac Sonography Program. This program is a 10-month long full-time online and offline hybrid program that runs continuously through September of the following year.
		</p>
		<p>
			This program is designed to provide clinical training, including hands-on practice of echocardiography procedure, an academic curriculum in cardiac anatomy and physiology, cardiac sonography principles, basic electrocardiography and interpretation, physics and instrumentation, and cardiovascular terminology. Our goal is to prepare competent entry-level adult cardiac sonographers with the knowledge and skills they need to work with cardiologist side by side and help in the diagnosis of cardiac disease noninvasively. We are dedicated to training sonographers who exemplify this standard and degree of excellence. Upon completion of the program, graduates will be eligible to perform a comprehensive diagnostic echocardiogram, and provide a preliminary report to the cardiologist. Upon providing a two-year service to the hospital and build their echocardiography experience, graduates will be eligible to sit for the American Registry of Diagnostic Medical Sonography (ARDMS) Registry Exams.
The biggest of the many advantages of the World Cardiac Vision program is that it is free and we come to where you are! All clinical training is also performed at the same location where you’re working. As WCV is endorsed by the Society of Cardiac Professionals, there is a strong collaboration with the didactic and clinical instructors to ensure harmony throughout the program and set success for trainees.

		</p>
	</div>
</section>
{%endblock%}