{% extends 'base.html' %}
{%block content%}

<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-clearfix">
        We improve cardiac care in underdeveloped countries
      </h1>
      <h2 class="subtitle is-clearfix">
        Join the movement to save the lives of those who die from easily preventable diseases
      </h2>
      <div class="level is-mobile">
        <div class="level-item">
          <div>
            <a class="button is-large is-link">Donate</a>
          </div>
        </div>
        <div class="level-item">
          <div>
            <a class="button is-large is-link">Volunteer</a>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="partners">
  <h2 class="is-size-3 has-text-centered">Organizations we partner with</h2>
  <div class="columns is-centered is-full-mobile">
      <div class="column is-full-mobile">
      <img src="uploads/atrium.png" width="250px">
    </div>
    <div class="column is-full-mobile">
      <img src="uploads/cpcc.jpg" width="250px">
    </div>
    <div class="column is-full-mobile">
      <img src="uploads/hmf.png" width="250px">
    </div>
  </div>
</section>

<section class="about">
  <div class="columns">
    <div class="column">
      <h2 class="is-size-3 has-text-centered is-block">Online and offline training</h2>
      <img src="uploads/teaching.svg">
    </div>
     <div class="column">
       Each year, WCV takes a small group of health professionals in underdeveloped countries through a learning program.
       This 10 month course course offers students the training they need to provide improved cardiac care in their communities.
       Click the button below to read about our experience in Ethiopia.<br><br>
        <a class="button is-info is-block" href="/ethiopia">2019 Class Study</a>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="is-size-3 has-text-centered is-block">Improve access to resources</h2>
        We work with our partners to provide hospitals with medical equipment, reference materials, and other essential supplies.
    </div>
     <div class="column">
       <img src="uploads/equip.svg">
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h2 class="is-size-3 has-text-centered is-block">Fundraising</h2>
      <img src="uploads/money.svg">
    </div>
     <div class="column">
       We raise money from donors all over the world to help communities that are struggling with easily preventable cardiac deaths.<br><br>
        <a class="button is-primary is-block" href="#">Donate Now</a>
    </div>
  </div>
</section>
  <section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        We need volunteers!
      </h1>
      <h2 class="subtitle">
        We are currently looking for cardiologists and cardiac sonographers to help with our online courses. Click
        the button below to apply.
      </h2>
      <a class="button is-primary" href="#">Apply Now</a>
    </div>
  </div>
</section>
    
{%endblock%}